@using Carpooling.Models.View
@model AddDriveViewModel
@{
    ViewData["Title"] = "Add Drive";
}

<h2>Add Drive</h2>


<form asp-action="AddDrive" asp-controller="Drives">
    <label asp-for="SSN">Personnummer</label>
    <input asp-for="SSN" />
    <span asp-validation-for="Date" class="text-danger"></span>
    <label asp-for="Date">Datum</label>
    <input asp-for="Date" />
    <span asp-validation-for="Date" class="text-danger"></span>
    <p></p>
    <label asp-for="StartingPoint">Startpunkt</label>
    <input asp-for="StartingPoint" />
    <span asp-validation-for="StartingPoint" class="text-danger"></span>
    <label asp-for="Destination">Slutdestination</label>
    <input asp-for="Destination" />
    <span asp-validation-for="Destination" class="text-danger"></span>
    <p></p>
    <label asp-for="Driver">Jag kommer vara förare under pendlingen</label>
    <input asp-for="Driver" />
    <span asp-validation-for="Driver" class="text-danger"></span>
    <p></p>
    <label asp-for="Passengers">Lediga platser i bilen</label>
    <input asp-for="Passengers" />
    <span asp-validation-for="Passengers" class="text-danger"></span>
    <input type="submit" />
</form>
<h3>@ViewData["Message"]</h3>
