@using Carpooling.Models.View
@model JoinViewModel
@{
    ViewData["Title"] = "Join";
}

<h2>Join</h2>
@{
    switch (Model.ID)
    {
        case 0:
            <p>Skriv in dina uppgifter nedan för att bli en del av samåkningsgruppen!</p>
            break;
        case 1:
            <p>En person med det personnumret finns redan med i samåkninsgruppen</p>
            break;
        case 2:
            <p>Välkommen till samåkningsgruppen</p>
            break;
        default:
            break;
    }
}

<form asp-action="Join" asp-controller="Drives">
   <label asp-for="SSN"></label>
   <input asp-for="SSN" />
   <label asp-for="FirstName"></label>
   <input asp-for="FirstName" />
   <label asp-for="LastName"></label>
   <input asp-for="LastName" />
   <input type="submit"/>
    <div asp-validation-summary="All"></div>
</form>